body{
    background-color: black;
}

#zoro{
    background-color: rgb(12, 92, 10);
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

.personagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nome{
    margin-left: 75px;
}

.recompensa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 17px;
    color: white;
}


