
#cx1{
    width: 350px;
    height: 600px;
    margin-top: auto;
    float: left;
    margin-bottom: auto;
    margin-right: 115px;
    margin-left: 40px;

}

#cx2{
    width: 350px;
    height: 600px;
    margin-top: auto;
    float: left;
    margin-bottom: auto;
    margin-right: 115px;

}

.Botao{
    margin-left: 75px;
}

#cx3{
    width: 300px;
    height: 600px;
    margin-top: auto;
    float: left;
    margin-bottom: auto;
}

